:root {
    --colNum: 10;
  }
  .board {
    border: 1px lightgrey;
    border-style: ridge;
  }
  
  #container {
    border: 1px solid black;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(var(--colNum), 1fr);
    height: 800px;
    width: 800px;
  }
  
