#container {
    border: 10px solid red;
    border-radius: 2%;
    background-color: #F0F0F0;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 600px;
  }
  .divider{
      width:5px;
      height:auto;
      display:inline-block;
  }
  
  #buttons{
    display: table;
    margin: 0px auto 10px auto;
  }
  
  #etch{
    text-align: center;
    font-size: 30px; 
  }
