#container {
  border: 10px solid red;
  border-radius: 2%;
  background-color: #F0F0F0;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
}

#reset{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
